<!DOCTYPE html>
<html>

<head>
    <title>{{title}} </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/ang.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>If you can't view the weather, {{helpMsg}}</h1>

    </div>
    {{>footer}}
</body>
</html>