<!DOCTYPE html>
<html>

<head>
    <title>{{title}} </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>

        <img class="weather" id="img-1" >
        <p id="msg-1"></p>
        <p id="msg-2"></p>

    </div>
    {{>footer}}
    <script src="/js/ang.js"></script>
</body>
</html>
